

.ui-tabs-contents {
	position: relative;
	&--fix-height {
		display: flex;
		flex-wrap: nowrap;
	}
}

.ui-tabs-content {
	&:not(&--fix-height) {
		width: 100%;
		position: absolute;
		left: -9999px;
		top: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		&.active {
			width: auto;
			position: relative;
			left: auto;
			top: auto;
		}
	}

	&--fix-height {
		width: 100%;
		flex-shrink: 0;
		order: 3;

		&.active {
			order: 1;
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transition: opacity .2s, visibility .2s;
	}
}