@font-face {
	font-family: 'Millimetre';
	font-display: swap;
	src: url("../fonts/Millimetre-Regular.woff2") format("woff2"), url("../fonts/Millimetre-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Mister Pixel Regular';
	font-display: swap;
	src: url("../fonts/Mister Pixel Regular.woff2") format("woff2"), url("../fonts/Mister Pixel Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
