		<footer class="footer">
			<div class="inner inner--p2">
				<div class="footer__block">
					<div class="footer__m">
						<div class="footer__ttl">
							Company
						</div>
						<ul class="footer-menu ui-text">
							<li class="footer-menu__item">
								<a class="nav-scroll" data-scroll-link="about">
									about
								</a>
							</li>
							<li class="footer-menu__item">
								<a class="nav-scroll" data-scroll-link="portfolio">
									portfolio
								</a>
							</li>
							<li class="footer-menu__item">
								<a class="nav-scroll" data-scroll-link="how">
									how we help
								</a>
							</li>
							<li class="footer-menu__item">
								<a class="nav-scroll" data-scroll-link="team">
									team
								</a>
							</li>
							<li class="footer-menu__item">
								<a class="nav-scroll" data-scroll-link="contact">
									contact
								</a>
							</li>
						</ul>
					</div>
					<div class="footer__a">
						<div class="footer__ttl">
							Address
						</div>
						<div class="footer__address ui-text">
							<p>
								Gibraltar,<br />
								6.20 World Trade Center, 6&nbsp;Bayside Road
							</p>
							<p>
								Helsinki,Epicenter,<br />
								Mikonkatu 9
							</p>
						</div>
					</div>
					<div class="footer__c">
						<div class="footer__ttl">
							Contact Us
						</div>
						<div class="footer__address ui-text">
							<p>
								<a href="mailto:invest@tenzor.capital" target="_blank">invest@tenzor.capital</a>
							</p>
						</div>
					</div>
					<div class="footer__s">
						<div class="socials socials--lilac socials--footer">
							<a class="socials__item" href="javascript:void(0);" target="_blank">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tw"></use></svg>
							</a>
							<a class="socials__item" href="javascript:void(0);" target="_blank">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tg"></use></svg>
							</a>
							<a class="socials__item" href="javascript:void(0);" target="_blank">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-in"></use></svg>
							</a>
						</div>
					</div>
				</div>
				<div class="footer-bot">
					<div class="footer-bot__links">
						<a href="javascript:void(0);" target="_blank">Terms of use</a> | <a href="javascript:void(0);" target="_blank">Important disclosures</a>
					</div>
				</div>
			</div>
		</footer>