		<header class="header">
			<div class="inner inner--p2">
				<div class="header__row">
					<div class="header__left">
						<a class="logo nav-scroll" data-scroll-link="intro">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
						</a>
					</div>
					<div class="header__right">
						<ul class="menu">
							<li class="menu__item">
								<a class="menu__link nav-scroll" data-scroll-link="about">
									about
								</a>
							</li>
							<li class="menu__item">
								<a class="menu__link nav-scroll" data-scroll-link="portfolio">
									portfolio
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<div class="bot-menu">
			<div class="inner inner--p2">
				<div class="bot-menu__block">
					<ul class="menu">
						<li class="menu__item">
							<a class="menu__link nav-scroll" data-scroll-link="how">
								how we help
							</a>
						</li>
						<li class="menu__item">
							<a class="menu__link nav-scroll" data-scroll-link="team">
								team
							</a>
						</li>
						<li class="menu__item">
							<a class="menu__link nav-scroll" data-scroll-link="contact">
								contact
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>