<!DOCTYPE html>
<html lang="ru" class=" " ontouchstart>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
	@@if (!context.pageTitle) {
		<title>{{defTitle}}</title>
	}
	@@if (context.pageTitle) {
		<title>@@pageTitle – {{defTitle}}</title>
	}
	@@if (!context.pageKeywords) {
		<meta name="keywords" content="{{defKeywords}}" />
	}
	@@if (context.pageKeywords) {
		<meta name="keywords" content="@@pageKeywords" />
	}
	@@if (!context.pageDescription) {
		<meta name="description" content="{{defDescription}}" />
	}
	@@if (context.pageDescription) {
		<meta name="description" content="@@pageDescription" />
	}
	<link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="@@webRoot/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="@@webRoot/images/favicon/safari-pinned-tab.svg" color="#1c1b22">
	<meta name="msapplication-TileColor" content="#fff">
	<meta name="theme-color" content="#fff">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="@@webRoot/css/style.min.css" />
	<!-- front-end by https://chegdev.ru -->
</head>